<div class="row">
  <div class="col-12 p-0 banner" style="background-image:url('/shoptownandcountry/sites/shoptownandcountry/files/inline-images/Rocky-Ridge-Family-1024x435.png')">
    <span class="banner-title"> <br><small></small></span>
  </div>
</div>

<div class="container p-0 my-4 py-3 text-color">
  <div class="row">
    <div class="col-md-12">
        <h3 class="mt-5 mb-3 title-post">
            {{label}}		
	    </h3>
      <div class="blockquote">
        {{ content.body }}
      </div>
    </div>
  </div>
</div>